/* This targets the actual HTML elements outside of React */
body {
  margin: 0;
  padding: 0;
  background-color: #eee;
  font-family: "Montserrat", sans-serif;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.notes-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
  padding: 16px;
  justify-content: flex-start;
  width: 100%;
  box-sizing: border-box;
}
